//
   Created by lwy on 2017-03-08

div.nav-setting
    div(class='ui floating dropdown button')
        i(class='icon bars')
        div.menu
            if user
                a(class='item' href=`/posts?author=${user._id}`)
                div(class='divider')
                a(class='item' href='/posts/create') 发表文章
                a(class='item' href='/signout') 登出
            else
                a(class='item' href='/signin') 登陆
                a(class='item' href='/signup') 注册
