//
   Created by lwy on 2017-03-08.
block nav
    div(class='ui grid')
        div(class='four wid column')
        div(class='eight wide column')
            a(href="/posts")
                h1 #{blog.title}